[Unit]
Description=Covid19 start/stop devices
Wants=network-online.target
After=network-online.target

[Service]
User=malahal
Group=malahal
WorkingDirectory=/home/malahal/src/covid19
Type=oneshot
ExecStart=/bin/bash ./covid.sh

[Install]
WantedBy=multi-user.target
